.container-general {
    background-color: #3d3636;
    display: flex;
    height: 100vh;
}

.left {
    flex: 1;
}

.right {
    flex: 1;
}

.left img {
    width: 60%;
    height: 60%;
    margin: 25% 20%;
}

.imagen-fondo {
    position: fixed;
    width: 50%;
    height: 100%;
    background-image: url('./Assets/corrugado.jpg');
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 60%;
    width: 30vw;
    height: 30vw;
    background-color: #3d3636;
    padding-bottom: 30px;
    border-radius: 5%;
    border: 5px solid rgb(118, 175, 240);
}

/* Add styles for Sign Up action */
.container.signup {
    width: 30%;
    height: 85%;
    margin-top: 1.5%;
    margin-left: 60%; /* Adjust margin for Sign Up */
    padding-bottom: 50px; /* Adjust padding for Sign Up */
}

.header {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    height: 80px;
    width: 30%;
    margin-top: 30px;
    background-color: #3d3636;
}

.text {
    color: rgb(118, 175, 240);
    font-size: 30px;
    font-weight: 700;
}

.underline {
    width: 61px;
    height: 5px;
    background: rgb(118, 175, 240);
    border-radius: 9px;
}

.inputs {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 25vw;
    height: 45px;
    background: #444242;
    border-radius: 6px;
}

.input img {
    margin: 0px 15px;
}

.input input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #e2dcdc;
    font-size: 12px;
}

.forgot-password {
    padding-left: 40px;
    margin-top: 27px;
    color: #3d3636;
    font-size: 12px;
}

.forgot-password span {
    color: rgb(118, 175, 240);
    cursor: pointer;
}

.submit-container {
    display: flex;
    gap: 10px;
    margin: 10px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw; /* Utilizando vw para un tamaño responsive en relación con el ancho de la ventana */
    height: 40px;
    color: #3d3636;
    background-color: rgb(118, 175, 240);
    border-radius: 50px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}



label{
    font-size: 13px;
    color: #676767;
}

.gray {
    background: #eaeaea;
    color: #676767;
}
.input select {
    width: 69%;
    height: 100%;
    orientation: center;
    background: #3d3636;
    border-color: rgb(118, 175, 240);
    outline: none;
    color: #fff;
    font-size: 12px;
}
