@import '~@fortawesome/fontawesome-free/css/all.css';

.menu-vertical {
    background-color: #1a1a1a;
    color: #fff;
    width: 16vw;
    padding: 20px;
    height: 100%;
    position: fixed;
    z-index: 0;
}

.menu-item {
    display: flex;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-left: 20px;
}

.menu-item:hover {
    background-color: #1a1a1a;
}

.menu-item:hover i {
    color: #68C2E8;
}

.menu-item:hover span {
    color: #68C2E8;
}

.menu-item-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #1a1a1a;
    color: #68C2E8;
    font-weight: bold;
}

.menu-item i {
    margin-right: 20px;
}


.icono-img {
    width: 50px;
    height: 50px;
    margin-right: 18px;
    transition: margin 0.3s ease;
}

.icon-size {
    width: 20px;
    height: 20px; /* Ajusta el tamaño según sea necesario */
    /* Otros estilos adicionales si es necesario */
  }
  .menu-item.active {
    background-color: #1a1a1a;
  }
  
  .menu-item.active i,
  .menu-item.active span {
    color: #68C2E8;
  }