.link {
    align-items: center;
    border-radius: 50px 0px 0px 50px;
    display: inline-flex;
    gap: 20px;
    padding: 3px;
    position: relative;
  }
  
  .link .icon {
    align-items: center;
    border-radius: 100px;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    padding: 10px;
    position: relative;
  }
  
  .link .group {
    height: 20px;
    position: relative;
    width: 20px;
  }
  
  .link .cursos {
    font-family: var(--text-bold-font-family);
    font-size: var(--text-bold-font-size);
    font-style: var(--text-bold-font-style);
    font-weight: var(--text-bold-font-weight);
    letter-spacing: var(--text-bold-letter-spacing);
    line-height: var(--text-bold-line-height);
    position: relative;
    width: fit-content;
  }
  
  .link.hover-2 {
    background-color: var(--lienzo);
  }
  
  .link .state-hover-2 {
    background-color: var(--lienzo);
  }
  
  .link .acm.state-active {
    background-color: var(--acm);
  }
  
  .link .eco.state-active {
    background-color: var(--eco);
  }
  
  .link .ghamec.state-active {
    background-color: var(--ghamec);
  }
  
  .link .state-0-default {
    color: var(--grisesblanco);
  }
  
  .link .empresa-acm.state-0-active {
    color: var(--acm);
  }
  
  .link .state-0-hover.empresa-acm {
    color: #48baff;
  }
  
  .link .state-0-hover-2.empresa-acm {
    color: #48baff;
  }
  
  .link .empresa-ghamec.state-0-hover {
    color: var(--ghamec);
  }
  
  .link .empresa-eco.state-0-hover-2 {
    color: #34e312;
  }
  
  .link .empresa-eco.state-0-active {
    color: var(--eco);
  }
  
  .link .empresa-ghamec.state-0-hover-2 {
    color: var(--ghamec);
  }
  
  .link .empresa-eco.state-0-hover {
    color: #34e312;
  }
  
  .link .empresa-ghamec.state-0-active {
    color: var(--ghamec);
  }
  