.evaluacion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  
  .pregunta-container {
    width: 97%;
    height: 90%;
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .encabezado-cuestionario {
    background-color: #68C2E8;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
    font-size: 30px;
    padding-left: 20px;
  }
  
  .titulo-cuestionario {
    font-size: 150%;
  }
  
  .titulo-cuestionario span {
    color: #090909;
    text-shadow: 5px 5px 10px rgba(235, 239, 241, 0.79);
  }
  
  .subtitulo-cuestionario {
    font-size: 80%;
    color: rgb(202, 228, 239);
  }
  
  .pregunta-container {
    margin: 40px;
  }
  
  .pregunta-text {
    font-size: 180%;
  }
  
  .pregunta-container form {
    margin-bottom: 20px;
    margin-left: 50px;
  }
  
  label {
    margin-left: 10px;
    color: aliceblue;
  }
  
  .botones-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .botones {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #68C2E8;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #090909;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal-contenido {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .modal-botones {
    display: flex;
    justify-content: center;
  }
  
  .modal-botones button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #68C2E8;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .modal-botones button:hover {
    background-color: #090909;
  }
  
  .modal-botones button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .resultados {
    display: block;
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    z-index: 1; 
    margin-bottom: 20px;
    position: relative; 
  }
  
  .resultados h2 {
    font-size: 30px;
    text-align: center;
  }

  .resultados h2 span{
    font-size: 30px;
    text-align: center;
    text-shadow: 3px 3px 10px #ffffff7b;
    color:#68c2e8;
  }
  
  .resultados span {
    font-weight: bold;
    color: #68c2e8;
  }

  .resultados p {
    font-weight: bold;
    font-size: 110%;
  }
  
  .resultados ul {
    list-style-type: none;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30px;
    background-color: #090909;
    padding: 20px;
    border-radius: 15px;
    width:fit-content;
  }
  
  .resultados li {
    margin-bottom: 10px;
  }
  
  .resultados button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #68c2e8;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .resultados button:hover {
    background-color: #090909;
  }
  
  
  