.header {
    margin-left: 20px;
    background-color: #262626;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .search-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #1a1a1a;
    border-radius: 50px;
    padding: 0.5rem;
  }

  .search-container input[type="text"] {
    background-color: #1a1a1a;
    border: #1a1a1a;
    color: white;
    outline: none;
    flex: 1;
  }
  
  .search-input {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    flex: 1;
  }
  
  .search-container::before {
    content: url('/public/img/buscar.png');
    display: block;
    width: 20px;
    height: 20px;
    margin: 10px;
  }  
  
  .search-button,
  .cart-button,
  .profile-button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
    outline: none;
  }
  
  .search-button:hover,
  .cart-button:hover,
  .profile-button:hover {
    background-color: #444;
  }
  
  .cart-button, .profile-button {
    background-color: transparent;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 50%; /* Hace que los botones sean circulares */
  }
  
  .cart-button img, .profile-button img {
    width: 25px;
    height: 25px;
  }
  
  /* Ajusta la disposición de los botones para que estén en la misma línea */
  .header__cart, .header__user-menu {
    display: flex;
    align-items: center;
  }
  
  /* Añade un espacio entre los botones si es necesario */
  .header__cart {
    margin-right: 1rem;
  }
  