.search-bar {
    align-items: center;
    background-color: var(--lienzo-2);
    border-radius: 100px;
    display: inline-flex;
    gap: 15px;
    padding: 10px;
    position: relative;
  }
  
  .search-bar .vector {
    height: 20px;
    position: relative;
    width: 20px;
  }
  
  .search-bar .text-wrapper {
    color: #ffffff;
    font-family: var(--subtitle-regular-font-family);
    font-size: var(--subtitle-regular-font-size);
    font-style: var(--subtitle-regular-font-style);
    font-weight: var(--subtitle-regular-font-weight);
    letter-spacing: var(--subtitle-regular-letter-spacing);
    line-height: var(--subtitle-regular-line-height);
    margin-top: -1px;
    position: relative;
    width: fit-content;
  } 