.footer {
    align-items: center;
    background-color: #000000f2;
    display: inline-flex;
    flex-direction: column;
    position: relative;
  }
  
  .footer .frame-5 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    width: 100%;
  }
  
  .footer .frame-6 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  
  .footer .text-wrapper-2 {
    color: #ffffff;
    font-family: var(--text-bold-font-family);
    font-size: var(--text-bold-font-size);
    font-style: var(--text-bold-font-style);
    font-weight: var(--text-bold-font-weight);
    letter-spacing: var(--text-bold-letter-spacing);
    line-height: var(--text-bold-line-height);
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .footer .frame-7 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 5px;
    position: relative;
  }
  
  .footer .frame-8 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 5px;
    position: relative;
  }
  
  .footer .vector-2 {
    height: 15px;
    position: relative;
    width: 15px;
  }
  
  .footer .text-wrapper-3 {
    color: var(--grisesblanco);
    font-family: var(--text-regular-font-family);
    font-size: var(--text-regular-font-size);
    font-style: var(--text-regular-font-style);
    font-weight: var(--text-regular-font-weight);
    letter-spacing: var(--text-regular-letter-spacing);
    line-height: var(--text-regular-line-height);
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .footer .vector-3 {
    height: 11.25px;
    position: relative;
    width: 15px;
  }
  
  .footer .text-wrapper-4 {
    color: var(--grisesblanco);
    font-family: var(--text-regular-font-family);
    font-size: var(--text-regular-font-size);
    font-style: var(--text-regular-font-style);
    font-weight: var(--text-regular-font-weight);
    letter-spacing: var(--text-regular-letter-spacing);
    line-height: var(--text-regular-line-height);
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .footer .frame-9 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    position: relative;
  }
  
  .footer .frame-10 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    position: relative;
  }
  
  .footer .frame-11 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    position: relative;
  }
  
  .footer .design-component-instance-node {
    flex: 0 0 auto !important;
    padding: 5px 10px !important;
  }
  
  .footer .frame-12 {
    flex: 0 0 auto;
    position: relative;
  }
  
  .footer .frame-13 {
    align-items: center;
    align-self: stretch;
    border-color: #ffffff;
    border-top-style: solid;
    border-top-width: 0.2px;
    display: flex;
    flex: 0 0 auto;
    gap: 15px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .footer .mask-group-wrapper {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    position: relative;
  }
  
  .footer .mask-group-2 {
    height: 40px;
    position: relative;
    width: 40px;
  }
  