.header {
    align-items: center;
    display: flex;
    gap: 20px;
    padding: 10px;
    position: relative;
    width: 479px;
  }
  
  .header .search-bar-instance {
    display: flex !important;
    flex: 1 !important;
    flex-grow: 1 !important;
  }
  
  .header .class-7 {
    margin-right: -20px !important;
  }
  
  .header .frame {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  
  .header .img {
    height: 30px;
    position: relative;
    width: 39.98px;
  }
  
  .header .div-wrapper {
    align-items: center;
    background-color: var(--eco);
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 20px;
    justify-content: center;
    left: 30px;
    position: absolute;
    top: 16px;
    width: 20px;
  }
  
  .header .div {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
  .header .frame-2 {
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
  }
  
  .header .button-primary-instance {
    background-color: var(--grisesblanco) !important;
    flex: 0 0 auto !important;
  }
  
  .header .instance-node {
    color: var(--grisesnegro) !important;
    font-family: var(--text-bold-font-family) !important;
    font-size: var(--text-bold-font-size) !important;
    font-style: var(--text-bold-font-style) !important;
    font-weight: var(--text-bold-font-weight) !important;
    letter-spacing: var(--text-bold-letter-spacing) !important;
    line-height: var(--text-bold-line-height) !important;
  }
  
  .header .button-secondary {
    align-items: center;
    border: 1px solid;
    border-color: var(--grisesblanco);
    border-radius: 100px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 10px 20px;
    position: relative;
  }
  
  .header .boton {
    color: var(--grisesblanco);
    font-family: var(--subtitle-regular-font-family);
    font-size: var(--subtitle-regular-font-size);
    font-style: var(--subtitle-regular-font-style);
    font-weight: var(--subtitle-regular-font-weight);
    letter-spacing: var(--subtitle-regular-letter-spacing);
    line-height: var(--subtitle-regular-line-height);
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .header .frame-3 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
  }
  
  .header .ellipse {
    height: 40px;
    object-fit: cover;
    position: relative;
    width: 40px;
  }
  
  .header .frame-4 {
    height: 14px;
    left: 26px;
    position: absolute;
    top: 26px;
    width: 14px;
  }
  
  .header .default {
    align-items: flex-start;
    gap: 20px;
  }
  
  .header .variant-2 {
    align-items: center;
    gap: 5px;
  }
  