:root {
    --acm: rgba(0, 140, 224, 1);
    --body-peque-o-font-family: "Montserrat-Regular", Helvetica;
    --body-peque-o-font-size: 12px;
    --body-peque-o-font-style: normal;
    --body-peque-o-font-weight: 400;
    --body-peque-o-letter-spacing: 0px;
    --body-peque-o-line-height: normal;
    --eco: rgba(107, 189, 91, 1);
    --ghamec: rgba(0, 0, 105, 1);
    --glow: 0px 0px 4px 0px rgba(0, 140, 224, 0.8), 0px 0px 20px 0px rgba(0, 140, 224, 0.8);
    --grisesblanco: rgba(255, 255, 255, 1);
    --grisesnegro: rgba(0, 0, 0, 1);
    --h5-bold-font-family: "Montserrat-Bold", Helvetica;
    --h5-bold-font-size: 18px;
    --h5-bold-font-style: normal;
    --h5-bold-font-weight: 700;
    --h5-bold-letter-spacing: 0px;
    --h5-bold-line-height: normal;
    --lienzo: rgba(47, 47, 47, 1);
    --lienzo-2: rgba(26, 26, 26, 1);
    --lienzo-3: rgba(40, 40, 40, 1);
    --subtitle-bold-font-family: "Montserrat-Bold", Helvetica;
    --subtitle-bold-font-size: 16px;
    --subtitle-bold-font-style: normal;
    --subtitle-bold-font-weight: 700;
    --subtitle-bold-letter-spacing: 0px;
    --subtitle-bold-line-height: normal;
    --subtitle-regular-font-family: "Montserrat-Regular", Helvetica;
    --subtitle-regular-font-size: 16px;
    --subtitle-regular-font-style: normal;
    --subtitle-regular-font-weight: 400;
    --subtitle-regular-letter-spacing: 0px;
    --subtitle-regular-line-height: normal;
    --text-bold-font-family: "Montserrat-Bold", Helvetica;
    --text-bold-font-size: 14px;
    --text-bold-font-style: normal;
    --text-bold-font-weight: 700;
    --text-bold-letter-spacing: 0px;
    --text-bold-line-height: normal;
    --text-regular-font-family: "Montserrat-Regular", Helvetica;
    --text-regular-font-size: 14px;
    --text-regular-font-style: normal;
    --text-regular-font-weight: 400;
    --text-regular-letter-spacing: 0px;
    --text-regular-line-height: normal;
  }
  